<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>读书信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/custom-toast.css" />
    <script src="../../../common/fontclass/iconfont.js"></script>
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientHeight / 768 * 10 + 'px';
    </script>
    <link rel="stylesheet" href="../../css/myBookshelfStyle/VIPUser_bookInfo_win.css">
</head>
<body class="body">
<div id="app">
    <div class="top">
        <div class="book-top">
            <div @click="exit" class="return">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-zuoyoujiantou"></use>
                </svg>
            </div>
            <!--<div class="share" id="">-->
                <!--<svg class="icon" aria-hidden="true">-->
                    <!--<use xlink:href="#icon-dingjice_fenxianganniu_moren"></use>-->
                <!--</svg>-->
                <!--&lt;!&ndash;<span>分享</span>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="tab">-->
                <!--<span class="reading click">读书</span>-->
                <!--<span class="course">课程</span>-->
            <!--</div>-->
        </div>
    </div>
    <div class="book">
        <div class="box">
            <div class="book-center">
                <div class="book-left">
                    <div class="book-img">
                        <img :src="bookInfo.bookCover">
                        <div  v-show="bookInfo.BookLight" class="light"></div>
                    </div>
                    <div class="book-basic">
                        <div class="book-title clearfix">
                            <h1>{{bookInfo.bookName}}<span v-show="bookInfo.BookLight" class="bright sel">已点亮</span></h1>
                        </div>
                        <h2>{{bookInfo.author}}</h2>
                        <p>字数 {{bookInfo.wordsNumber}}</p>
                        <div class="book-level">
                            <svg class="icon" aria-hidden="true">
                                <use :xlink:href='bookInfo.bookLevelDes'></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="book-right">
                    <div class="book-like">
                        <div class="like-box"><i :class="[bookInfo.StudentIsClickHeart ? 'click' : 'like']"></i><span>{{bookInfo.bookHearts}}</span></div>
                          <span>{{bookInfo.readingNumber}}人在读</span>
                    </div>
                    <div class="schedule">
                        <span>阅读进度</span>
                        <div class="progress">
                            <div :style="{width: bookInfo.bookReadingPercentage + '%'}" class="progress-bar"></div>
                        </div>
                        <span>{{bookInfo.bookPlanBar}}</span>
                    </div>
                    <span>本书你已经停留{{bookInfo.missingDateNumber}}天</span>
                    <!--<div class="team">-->
                        <!--<i></i><h3>共读小队</h3>-->
                        <!--<div class="team-list">-->
                            <!--<div>-->
                                <!--<img src="../../../common/image/team.png">-->
                                <!--<h4>嘀嗒1队</h4>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<img src="../../../common/image/team.png">-->
                                <!--<h4>嘀嗒1队</h4>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<img src="../../../common/image/team.png">-->
                                <!--<h4>嘀嗒1队</h4>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<img src="../../../common/image/team.png">-->
                                <!--<h4>嘀嗒1队</h4>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="more">查看更多</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="box">
            <div class="introduction">
                <div class="reading-ability">
                    <h2>图书难度等级</h2><span>{{bookInfo.bookGradeScaleName}}</span>
                    <!-- <span>相当于{{bookInfo.gradeScaleName}}水平</span> -->
                </div>
                <div class="book-label clearfix">
                  <div @click="leverHeight" style="float:left;">
                    <h2>图书标签</h2>
                    <svg class="icon down" aria-hidden="true" id="down">
                        <use xlink:href="#icon-xialajiantou-copy"></use>
                    </svg>
                  </div>
                  <div class="label" id="bookLabel">
                      <!--<div class="label01">{{tag.tag}}</div>-->
                      <!--<div class="label02">外国儿童文学</div>-->
                      <!--<div class="label03">-->
                      <!--<svg class="icon" aria-hidden="true">-->
                      <!--<use xlink:href="#icon-maisui"></use>-->
                      <!--</svg>-->
                      <!--教育部推荐书目-->
                      <!--<svg class="icon" aria-hidden="true">-->
                      <!--<use xlink:href="#icon-maisuicopy"></use>-->
                      <!--</svg>-->
                      <!--</div>-->
                      <!--<div class="label01">共读训练营 1 期  精选</div>-->
                      <!--<div class="label02">外国儿童文学</div>-->
                      <div class="label03"  v-for="tag in bookInfo.label">
                      <div v-if="tag.flag === 2" class="label01">{{tag.TagName}}</div>
                      <div v-else-if="tag.flag ===1" class="label02">{{tag.TagName}}</div>
                        <div class="label03" v-else-if="tag.flag === 3">
                          <svg class="icon" aria-hidden="true">
                              <use xlink:href="#icon-maisui"></use>
                          </svg>
                          {{tag.TagName}}
                          <svg class="icon" aria-hidden="true">
                              <use xlink:href="#icon-maisuicopy"></use>
                          </svg>
                      </div>
                  </div>
                  </div>
                </div>
                <div class="book-text">
                    <h2>图书简介</h2>
                    <span>{{bookInfo.bookDesc}}</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="unit">
                <h2>阅读单元<span>{{bookInfo.unitCount}}</span>个</h2>
                <div class="unit-list">
                    <div class="unit-box" v-for="(unitItem, index) in bookInfo.bookChapters">
                        <div class="unit-title"><span>{{unitItem.bcname}}</span></div>
                        <div class="unit-img" v-if="unitItem.bccover === ''">
                            <img src="../../../common/image/fengmian3@3x.png">
                            <div v-show="unitItem.flag" class="lock">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-dianliangqiang_daohang_shu_suoicon_bukedian"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="unit-img" v-else="unitItem.bccover">
                            <img :src="unitItem.bccover">
                            <div class="lock">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-dianliangqiang_daohang_shu_suoicon_bukedian"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="star" v-if="unitItem.lightedstarts === 0">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_weidianliang"></use>
                            </svg>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_weidianliang"></use>
                            </svg>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_weidianliang"></use>
                            </svg>
                        </div>
                        <div class="star" v-else="unitItem.lightedstarts === 1">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_dianliang"></use>
                            </svg>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_weidianliang"></use>
                            </svg>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_weidianliang"></use>
                            </svg>
                        </div>
                        <div class="star" v-else="unitItem.lightedstarts === 2">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_dianliang"></use>
                            </svg>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_dianliang"></use>
                            </svg>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_weidianliang"></use>
                            </svg>
                        </div>
                        <div class="star" v-else="unitItem.lightedstarts === 3">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_dianliang"></use>
                            </svg>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_dianliang"></use>
                            </svg>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-dianliangqiang_tushuxiangqing_xingji_dianliang"></use>
                            </svg>
                        </div>
                        <div class="unit-test">
                            <div v-if="!unitItem.flag">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-dianliangqiang_tushuxiangqing_langdu_kaishi"></use>
                                </svg>
                                <i>{{unitItem.readblockScore}}</i>
                            </div>
                            <div v-else="!unitItem.flag">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-dianliangqiang_tushuxiangqing_langdu_weikaishi"></use>
                                </svg>
                            </div>
                            <div v-if="unitItem.readblockComplete || unitItem.readingComplete">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-dianliangqiang_tushuxiangqing_modu_kaishi"></use>
                                </svg>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                            <div v-else="unitItem.readingComplete">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-dianliangqiang_tushuxiangqing_modu_weikaishi"></use>
                                </svg>
                                <div class="progress">
                                    <div :style="{width: unitItem.readingPercentage + '%'}" class="progress-bar"></div>
                                </div>
                            </div>
                            <div v-if="(unitItem.readblockComplete && unitItem.readingComplete) || unitItem.choiceComplete">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-dianliangqiang_tushuxiangqing_lianxi_kaishi"></use>
                                </svg>
                                <i>{{unitItem.choiceScore}}</i>
                            </div>
                            <div v-else="unitItem.choiceComplete">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-dianliangqiang_tushuxiangqing_lianxi_weikaishi"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="unit-record" v-show="false">
                            <div v-show="!unitItem.readblockComplete" style="position: absolute; left: 2rem">读到这</div>
                            <div v-show="unitItem.readblockComplete && !unitItem.readingComplete" style="position: absolute; left: 50%; transform: translateX(-50%)">看到这</div>
                            <div v-show="unitItem.readblockComplete && unitItem.readingComplete " style="position: absolute; right: 2rem">做到这</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="new clearfix" style="margin-bottom:0;">
                <h2>图书信息</h2>
                <div class="left">
                    <p>版权信息方：<span>{{bookInfo.rights}}</span></p>
                    <p>ISBN：<span>{{bookInfo.info}}</span></p>
                </div>
                <div class="left">
                    <p>出版社：<span>{{bookInfo.publisher}}</span></p>
                    <p>出版日期：<span>{{bookInfo.date}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../common/script/custom-toast.js"></script>
<script type="text/javascript" src="../../../common/script/vue.js"></script>
<script type="text/javascript" src="../../../common/script/fastclick.js"></script>
<script type="text/javascript" src="../../../common/script/lib-storage.js"></script>
<script type="text/javascript" src="../../../common/script/api.js"></script>
<script type="text/javascript" src="../../../common/script/lib-common.js"></script>
<script type="text/javascript" src="../../../common/script/services/lib-homePage-service.js"></script>
<script type="text/javascript" src="../../../common/script/lib-analysis.js"></script>
<script type="text/javascript">
    apiready = function () {
        var app = new Vue({
            el: '#app',
            data: {
                bookInfo: {
                    bookName: '',
                    author: '',
                    wordsNumber: '',
                    bookLevelDes: '',
                    bookCover: '',
                    bookReadingPercentage: 0,
                    bookPlanBar: '',
                    bookGradeScaleName: '',
                    gradeScaleName: '',
                    label: [],
                    bookDesc: '',
                    unitCount: 0,
                    bookChapters: null,
                    lastReadingUnitIndex: null,
                    bookIsVip: false,
                    date: '',
                    info: '',
                    publisher: '',
                    rights: '',
                    missingDateNumber: 0,
                    readingNumber: 0,
                    bookHearts: 0 ,
                    BookLight: false,
                    StudentIsClickHeart: false
                },
                userIsVip: false,
                bookIsDownLoad: false
            },
            create: function () {

            },
            mounted: function () {
                this.toast = new customToast();
                FastClick.attach(document.body);
                this.loadBookInfo();
            },
            methods: {
                exit: function () {
                    api.sendEvent({
                        name: 'back-page'
                    });
                    api.closeWin({})
                },
                leverHeight: function () {
                    if (this.bookInfo.label.length > 3) {
                        $api.toggleCls($api.byId('bookLabel'), 'label-h');
                    }
                    $api.toggleCls($api.byId('down'), 'rotate');
                },
                loadBookInfo: function () {
                    $homeService.getChangeBookInfo(api.pageParam.bid, this.loadBookInfoUI, this.funErr);
                },
                funErr: function () {
                    this.toast.fail({
                        title: '网络异常，请检查网络链接'
                    })
                },
                getBookChapters: function () {
                    $homeService.getBookMenu(api.pageParam.bid, this.funSucGetBookChapters, this.funErr)
                },
                funSucGetBookChapters: function (resp) {
                    var that = this;
                    var finishIndex = 0;
                    var isReading = false;
                    if (resp.errCode === 0) {
                        that.bookInfo.bookChapters = resp.chapters.map(function (item, index) {
                            item.flag = true;
                            if (index === 0 && item.readblockComplete) {
                                isReading = true;
                            }
                            if (item.bcid === that.readingBookUnitID) {
                                that.bookInfo.lastReadingUnitIndex = index;
                            }
                            if (item.choiceComplete) {
                                finishIndex = index + 1
                            }
                            if (index === 0 || item.readblockComplete) {
                                item.flag = false
                            }
                            if (that.bookInfo.bookIsVip && !that.userIsVip) {
                                if (!isReading) {
                                    item.flag = true;
                                }
                            }
                            item.bccover = item.bccover === '' ? '' : $comm.resUri + item.bccover;
                            return item
                        });
                    } else {
                        that.toast.fail({
                            title: resp.errMsg
                        })
                    }
                },
                loadBookInfoUI: function (resp) {
                    if (resp.errCode === 0) {
                        bookInfo = resp;
                        this.bookInfo.bookName = resp.BookName;
                        this.bookInfo.author = resp.Author;
                        this.bookInfo.wordsNumber = resp.WordsNumber;
                        this.bookInfo.bookCover = $comm.resUri + resp.BCover;
                        this.bookInfo.bookReadingPercentage =  resp.ReadingPercentage;
                        this.bookInfo.bookPlanBar = resp.LastReadingChapterIndex + '/'+resp.ChapterNumber;
                        this.bookInfo.bookGradeScaleName = resp.GradeScaleName;
                        this.bookInfo.missingDateNumber = resp.MissingDateNumber;
                        // this.levelGrade(resp.GradeScaleName);
                        resp.Categories = resp.Categories.map(function (item) {
                            item.flag = 1;
                            return item;
                        });
                        resp.Tags = resp.Tags.map(function (item) {
                            if (item.TagName.indexOf('共读') !== -1) {
                                item.flag = 2
                            } else {
                                item.flag = 3
                            }
                            return item;
                        });
                        this.bookInfo.label = resp.Tags.concat(resp.Categories);
                        this.bookInfo.bookDesc = resp.Introduce;
                        this.bookInfo.unitCount = resp.ChapterNumber;
                        this.bookInfo.bookIsVip = resp.VIPBook;
                        this.readingBookUnitID = resp.ReadingBCID;
                        this.bookInfo.readingNumber = resp.ReadingNumber;
                        this.bookInfo.bookHearts = resp.BookHeart;
                        this.bookInfo.BookLight = resp.BookLight;
                        this.bookInfo.StudentIsClickHeart = resp.StudentIsClickHeart;
                        this.userIsVip = JSON.parse($storage.getStorage('userVipInfo')).IsVIP;
                        var arr = [];
                        var stopFor = false;
                        resp.PublishDate.split('').map(function (item, index) {
                            if (item === 'T') {
                                stopFor = true;
                            }
                            if (stopFor) {
                                return
                            }
                            arr.push(item);
                        });
                        this.bookInfo.date = arr.join('');
                        this.bookInfo.publisher = resp.Publisher;
                        this.bookInfo.rights = resp.Rights;
                        this.bookInfo.info = resp.ISBN;
                        switch (resp.PowerLevel) {
                            case -1:
                                this.bookInfo.bookLevelDes = "#icon-tuijianshuji_bijiaorongyi";
                                break;
                            case 0:
                                this.bookInfo.bookLevelDes = "#icon-tuijianshuji_shiheyuedu";
                                break;
                            case 1:
                                this.bookInfo.bookLevelDes = "#icon-tuijianshuji_juyoutiaozhan";
                                break;
                        }
                        this.getBookChapters();
                        this.bookIsDownLoad = $storage.getStorage(api.pageParam.bid);
                    } else {
                        this.toast.fail({
                            title: resp.errMsg
                        })
                    }
                },
                // levelGrade: function levelgrade(level) {
                //     var intLevel = parseInt(level);
                //     var grade = Math.ceil(intLevel / 4);
                //     var gradeStep = intLevel % 4;
                //     switch (gradeStep) {
                //         case 1:
                //             this.bookInfo.gradeScaleName = grade + '年级初级';
                //             break;
                //         case 2:
                //             this.bookInfo.gradeScaleName = grade + '年级中级';
                //             break;
                //         case 3:
                //             this.bookInfo.gradeScaleName = grade + '年级中级';
                //             break;
                //         case 0:
                //             this.bookInfo.gradeScaleName = grade + '年级高级';
                //             break;
                //     }
                // }
            }
        })
    }

</script>
</html>
